.y_button {
    display: block;
    background: #faad39;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border: 3px solid #feebce;
    box-shadow: 2px 2px 0 #fff inset, -2px -2px 0 #fff inset;
    margin-bottom: 20px;
    transition: .3s;
    position: relative;
    border-radius: 10px 0 10px 0;
    overflow: hidden;
}

.y_button:hover {
    opacity: 1;
    border: 3px solid #c2e899;
}

.wrap{
    background-color: #fafafa;
}

.cbox{
    border: 1px solid #faad39;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.cbox-title{
    background-color: #f1f1f1;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.cbox-content{
    padding: 5px 10px;
}
.cbox-content ul
{
    padding: 0 0;
}
.cbox-content ul li{
    list-style: none;
}
.whatsapp{
    display: inline-block;
    background: url('/images/whatsapp.png');
    width: 16px;
    height: 16px;
}
.mr-10{
    margin-right: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}