html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #FFE6B1;
    color: #A68439;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse{
    background-color: #92A8D1 !important;
    border-color: #2F4F88;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #f7cac9 !important;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{
    background-color: #92A8D1 !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .btn-link, .navbar-inverse .navbar-nav > li > a{

    color: #FFF;
}
.navbar-inverse .navbar-toggle {
    border-color: #2F4F88;
}

.btn-primary {
    color: #A64139;
    background-color: #f7cac9;
    border-color: #BF9693;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus,.btn-primary:hover, .btn-primary:active.focus, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    color: #f7cac9;
    background-color: #A64139;
    border-color: #BF9693;
}

.btn-seren {
    color: #2F4F88;
    background-color: #92A8D1;
    border-color: #79869D;
}

.btn-seren:active:hover, .btn-seren.active:hover, .open > .dropdown-toggle.btn-seren:hover, .btn-seren:active:focus, .btn-seren.active:focus, .open > .dropdown-toggle.btn-seren:focus,.btn-seren:hover, .btn-seren:active.focus, .btn-seren.active.focus,
.open > .dropdown-toggle.btn-seren.focus,.btn-seren:active, .btn-seren.active, .open > .dropdown-toggle.btn-seren{
    color: #92A8D1;
    background-color: #2F4F88;
    border-color: #79869D;
}